    
  <div class="container text-center">
     <h1 class="mb-5 mt-2">Add Customer's Transaction</h1>
     <form>
    <div class="new-added-customer">
      <div class="row form-group mb-2">
        <div class="col-lg-2 col-6">
          <input type="text" name="custname[]" id="cust-name" class="form-control" placeholder="Name">
        </div>
        <div class="col-lg-4 col-6">
          <input type="email" name="custemail[]" id="cust-email" class="form-control" placeholder="Customer's Email">
        </div>
        <div class="col-lg-3 col-6">
          <input type="number" name="custnumber[]" id="cust-number" class="form-control" placeholder="Mobile No.">
        </div>
        <div class="col-lg-2 col-5">
          <input type="number" name="custamount[]" id="cust-amount" class="form-control" placeholder="Amount">
        </div>
           <div class="col-lg-1 col-1">
            <!--  delete icon -->
          </div>
        </div> 
       </div>



       <br><br>
       <div>
          <button class="btn btn-success add-cust" id="addnewcustomer">Add Customer</button>
       </div>
       <br>
       <div>
          <input type="submit" name="custsubmit" class="btn btn-primary submit-cust" value="Submit">
       </div>
     </form>
  </div>

