<%- include('../components/header.ejs'); %>

<div class="container">
    <div class="text-center mt-5">
        <h1>Rate Your Experience</h1>
    </div>

    <div class="row justify-content-center">
        <div class="col-xl-8 col-sm-12 col-12 jumbotron">
            test
        </div>
    </div>
</div>


<%- include('../components/footer.ejs'); %>