

   <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid">
        <p class="text-center text-white">© Transactions-Website <a href="http://localhost:3000/home">TransactionApp</a></p>
    </div>
  </nav>
   
  <!-- JavaScript Section -->
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <!-- JQuery -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <!-- bootstrap -->
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- my script -->
  <script src="/Scripts/app.js"></script>
</body>
</html>