

   <nav class="navbar fixed-bottom navbar-dark bg-dark">
    
      <div class="container-fluid justify-content-center">
        <a rel="nofollow" href="mailto:mail@my.centennialcollege.ca" class="item-link justify-content-right">
            <i class="far fa-envelope "></i>
            <span class="mb-0 text-white margin-right">mail@company.com</span>
        </a>          
      <br>
        <a rel="nofollow" href="https://goo.gl/maps/xQgXkBhd75AktLsq7" class="item-link">
            <i class="fas fa-map-marker-alt"></i>
            <span class="mb-0 text-white margin-right">Our Location</span>
        </a>              
      <br>
        <a rel="nofollow" href="tel:6667778888" class="item-link">
            <i class="fas fa-phone-square mr-4"></i>
            <span class="mb-0 text-white">666-777-8888</span>
        </a>              
      </div>

      <div class="container-fluid justify-content-center">
        <p class="text-center text-white">© Transactions-Website <a href="http://localhost:3000/home">TransactionApp</a></p>
    </div>
        
  
  </nav>
   
  <!-- JavaScript Section -->
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <!-- JQuery -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <!-- bootstrap -->
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- my script -->
  <script src="/Scripts/app.js"></script>
</body>
</html>