<h4>About</h4>


<div class="grid-container">
  <div class="item1">Rapiejko, Clayton <br><small>Scrumaster</small></div>
  <div class="item2">Nguyen, Thi Minh Hanh</div>
  <div class="item3">Ong, Kelvin</div>  
  <div class="item4">Sheikh, Abdullah</div>
  <div class="item5">Sinha, Aashi</div>
  <div class="item6">Udavant, Kautuk</div>
  <div class="item7">Kachhiyapatel, Yash Sanjaykumar</div>
</div>

