<h1>About</h1>


<div class="grid-container">
  <div class="item1">Rapiejko, Clayton</div>
  <div class="item2">Nguyen, Thi Minh Hanh</div>
  <div class="item3">Ong, Kelvin
</div>  
  <div class="item4">Sheikh, Abdullah
</div>
  <div class="item5">Sinha, Aashi
</div>
  <div class="item6">Udavant, Kautuk
</div>
</div>

