
<div class="about-section" style = "text-align: center">
  <p style="color:#f7f0f4">We are the transaction application team: Use our site to help store and manage your transactions!!! :)</p>
</div>

<div style = "text-align: center">
<h3 style="color:#f5f0f3">Our Team</h3></div>

<table class="right">
  <tr>
    <th>
      <img src="Assets/images/team.png" alt="Clayton Rapiejko" style="width:5%">
      <h3 style="color:#f7f1f4">Clayton Rapiejko</h3>
      <p class="title" style="color:#f7f1f4">Scrumaster</p>
      <p style="color:#f7f1f4">clayton@transaction.com</p>
      <a href="/contact" class="btn btn-primary">Contact</a>
    </th>
    <th>
      <img src="Assets/images/team.png" alt="Thi Minh Hanh Nguyen" style="width:5%">
      <h3 style="color:#f7f1f4">Thi Minh Hanh Nguyen</h3>
      <p class="title" style="color:#f7f1f4">Lead Designer</p>
      <p style="color:#f7f1f4">thi@transaction.com</p>
      <a href="/contact" class="btn btn-primary">Contact</a>
    </th>
    <th>
      <img src="Assets/images/team.png" alt="Kelvin Ong" style="width:5%">
      <h3 style="color:#f7f1f4">Kelvin Ong</h3>
      <p class="title" style="color:#f7f1f4">Web Designer</p>
      <p style="color:#f7f1f4">kelvin@transaction.com</p>
      <a href="/contact" class="btn btn-primary">Contact</a>
    </th>
  </tr>

  <tr>
    <th>
      <img src="Assets/images/team.png" alt="Abdullah Sheikh" style="width:5%">
      <h3 style="color:#f7f1f4">Abdullah Sheikh</h3>
      <p class="title" style="color:#f7f1f4">UI Designer</p>
      <p style="color:#f7f1f4">adullah@transaction.com</p>
      <a href="/contact" class="btn btn-primary">Contact</a>
    </th>
    <th>
      <img src="Assets/images/team.png" alt="Aashi Sinha" style="width:5%">
      <h3 style="color:#f7f1f4">Aashi Sinha</h3>
      <p class="title" style="color:#f7f1f4">Security and UI Manager</p>
      <p style="color:#f7f1f4">aashi@transaction.com</p>
      <a href="/contact" class="btn btn-primary">Contact</a>
    </th>
    <th>
      <img src="Assets/images/team.png" alt="Kautuk Udavant" style="width:5%">
      <h3 style="color:#f7f1f4">Kautuk Udavant</h3>
      <p class="title" style="color:#f7f1f4">Backend Developer</p>
      <p style="color:#f7f1f4">kautuk@transaction.com</p>
      <a href="/contact" class="btn btn-primary">Contact</a>
    </th>
  </tr>

  <tr>
    <th></th>
  <th>
    <img src="Assets/images/team.png" alt="Yash Sanjaykumar Kachhiyapatel" style="width:5%">
    <h3 style="color:#f7f1f4">Yash Sanjaykumar Kachhiyapatel</h3>
    <p class="title" style="color:#f7f1f4">Database Designer</p>
    <p style="color:#f7f1f4">yash@transaction.com</p>
    <a href="/contact" class="btn btn-primary">Contact</a>
  </th>
</tr>
</table>