<div class="about-section" style = "text-align: center">
  <h3 style="color:#f7f1f4">About Us</h3>
  <p style="color:#f7f0f4">We are the transaction application team.</p>
  <p style="color:#f5f0f3">Use our site to help store and manage your transactions!!! :)</p>
</div>

<div style = "text-align: center">
<h2 style="color:#f5f0f3">Our Team</h2></div>

<div class="row">
  <div class="column">
    
      <img src="Assets/images/team.png" alt="Clayton Rapiejko" style="width:5%">
        <h3 style="color:#f7f1f4">Clayton Rapiejko</h3>
        <p class="title" style="color:#f7f1f4">Scrumaster</p>
        <p style="color:#f7f1f4">clayton@example.com</p>
        <p><button class="btn btn-primary">Contact</button></p>
      
    </div>  
      
    <div class ="column">
      <img src="Assets/images/team.png" alt="Thi Minh Hanh Nguyen" style="width:5%">
        <h3 style="color:#f7f1f4">Thi Minh Hanh Nguyen</h3>
        <p class="title" style="color:#f7f1f4">Lead Designer</p>
        <p style="color:#f7f1f4">thi@example.com</p>
        <p><button class="btn btn-primary">Contact</button></p>
      
  </div>


    <div class ="column">
      <img src="/w3images/team3.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="button">Contact</button></p>
     
  </div>
</div>