
<div class="about-section" style = "text-align: center">
  <p style="color:#121011">We are the transaction application team: Use our site to help store and manage your transactions!!! :)</p>
</div>

<div style = "text-align: center">
<h3 style="color:#121011">Our Team</h3></div>

<table class="right">
  <tr>
    <th>
      <img src="Assets/images/team.png" alt="Clayton Rapiejko" style="width:5%">
      <h3 style="color:#121011">Clayton Rapiejko</h3>
      <p class="title" style="color:#121011">Scrumaster</p>
      <p style="color:#121011">clayton@transaction.com</p>
      <a href="/contact" class="btn btn-primary">Contact</a>
    </th>
    <th>
      <img src="Assets/images/team.png" alt="Thi Minh Hanh Nguyen" style="width:5%">
      <h3 style="color:#121011">Thi Minh Hanh Nguyen</h3>
      <p class="title" style="color:#121011">Lead Designer</p>
      <p style="color:#121011">thi@transaction.com</p>
      <a href="/contact" class="btn btn-primary">Contact</a>
    </th>
    <th>
      <img src="Assets/images/team.png" alt="Kelvin Ong" style="width:5%">
      <h3 style="color:#121011">Kelvin Ong</h3>
      <p class="title" style="color:#121011">Web Designer</p>
      <p style="color:#121011">kelvin@transaction.com</p>
      <a href="/contact" class="btn btn-primary">Contact</a>
    </th>
  </tr>

  <tr>
    <th>
      <img src="Assets/images/team.png" alt="Abdullah Sheikh" style="width:5%">
      <h3 style="color:#121011">Abdullah Sheikh</h3>
      <p class="title" style="color:#121011">UI Designer</p>
      <p style="color:#121011">adullah@transaction.com</p>
      <a href="/contact" class="btn btn-primary">Contact</a>
    </th>
    <th>
      <img src="Assets/images/team.png" alt="Aashi Sinha" style="width:5%">
      <h3 style="color:#121011">Aashi Sinha</h3>
      <p class="title" style="color:#121011">Security and UI Manager</p>
      <p style="color:#121011">aashi@transaction.com</p>
      <a href="/contact" class="btn btn-primary">Contact</a>
    </th>
    <th>
      <img src="Assets/images/team.png" alt="Kautuk Udavant" style="width:5%">
      <h3 style="color:#121011">Kautuk Udavant</h3>
      <p class="title" style="color:#121011">Backend Developer</p>
      <p style="color:#121011">kautuk@transaction.com</p>
      <a href="/contact" class="btn btn-primary">Contact</a>
    </th>
  </tr>

  <tr>
    <th></th>
  <th>
    <img src="Assets/images/team.png" alt="Yash Sanjaykumar Kachhiyapatel" style="width:5%">
    <h3 style="color:#121011">Yash Sanjaykumar Kachhiyapatel</h3>
    <p class="title" style="color:#121011">Database Designer</p>
    <p style="color:#121011">yash@transaction.com</p>
    <a href="/contact" class="btn btn-primary">Contact</a>
  </th>
</tr>
</table>