<h1 class="text-center">About</h1>


<div class="grid-container">
  <div class="item1">Clayton Rapiejko<br><small>Scrumaster</small></div>
  <div class="item2">Thi Minh Hanh Nguyen<br><small>Lead Designer</small></div>
  <div class="item3">Kelvin Ong<br><small>Web Designer</small></div>  
  <div class="item4">Abdullah Sheikh<br><small>UI Designer</small></div>
  <div class="item5">Aashi Sinha<br><small>Security and UI Manager</small></div>
  <div class="item6">Kautuk Udavant<br><small>Backend Developer</small></div>
  <div class="item7">Yash Sanjaykumar Kachhiyapatel<br><small>Database Designer</small></div>
</div>

