 
  <div class="container mt-4">
<<<<<<< HEAD
    <div class="shadow-lg  bg-gray rounded">
=======
    <!--<div class="shadow-lg  bg-white rounded">-->
>>>>>>> a9d9e45962b9ad39f1fa2652eeaeac0058753b4e

      <div class="row text-center">

        <div class="col-xl-8 col-sm-12 col-12 mb-2 d-flex justify-content-center flex-column small-index">
          <div class="typewriter" style="color:#aba2a7">
            <h1 >Keep Transactions Stored</h1>
          </div>
          <div style="color:#aba2a7">
            <p>Store Expenses with no Worries!</p>
          </div>
          <div>
            <a href="https://docs.google.com/uc?export=download&id=1fX0Fup0tkEgykzoVx0oVehnVQJklkXAm" class="btn btn-primary">About Website</a>
          </div>
        </div>
        <div class="col-xl-4 col-sm-12 col-12 mb-2 mt-2">
          <lottie-player src="https://assets6.lottiefiles.com/private_files/lf30_ltuqrtmn.json" background="transparent"
            speed="1" class="small-screen" style="width: 700px; height: 700px;" loop autoplay></lottie-player>
        </div>
  </div>


