

<!-- Login Page -->
<div class="container mt-5">
<div class="row">
    <div class="offset-md-3 col-md-6 col-sm-12">
          <div class="login" id="contentArea">
              <h1 class="display-3 text-center" style="color:#121011">Login</h1>

              <!-- message area -->
              <% if(messages.length > 0) { %>
              <div id="messageArea" class="alert alert-danger">
                <%= messages %>
              </div>
              <% } %>

              <form id="loginForm" novalidate method="POST">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-user">
                      </i>
                    </span>
                    <input type="text" class="form-control" id="username" name="username"  required
                    value="" placeholder="Enter your username">
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-lock">
                      </i>
                    </span>
                    <input type="password" class="form-control" id="password" name="password"  required
                    value="" placeholder="Enter your password">
                  </div>
                 
                </div>                                        
                <div class="text-end mt-2">
                  <button id="loginButton" type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt" style="color:#121011"></i> Login</button>
                  <button id="cancelButton" type="reset" class="btn btn-warning"><i class="fas fa-undo" style="color:#121011"></i> Reset</button>
                </div>
              </form>
             
          </div>
         
    </div>

      <p class="text-center text-white small">
            Don't have an account? 
            <a href="/register" class="text-light bigger-text">Register Here!</a>
          </p>

           <p class="text-center text-white small">
            Want to change password? 
            <a href="/changepassword" class="text-light bigger-text">Change Password</a>
          </p>
</div>
</div>